.App {
  text-align: right;
}

.App-logo {  
  height: 80px;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 10;
}

.animation-stage {
  position: fixed;
  top: 0;
  left: 0;
}